body {
    background-color: gray; 
}
h1{
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    color: white; 
    text-align: center;
}
p{
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    color: white; 
    text-align: left;
}